.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    gap: 3rem;
    padding: 20px;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
   background-color: aquamarine;
  }
  
  .nav-item {
    text-decoration: none;
    font-weight: bold;
    text-wrap: nowrap;
    color: var(--color);
    padding: 0.75em 1em;
    transition: text-shadow 0.25s ease-out;
  }
  
 
  
  
  